# Caddy terminates TLS (automatic Let's Encrypt) and proxies HTTP + WebSocket
# upgrades to the node server. WebSockets need no special config in Caddy.
playlextown.com {
	reverse_proxy 127.0.0.1:8080
}
www.playlextown.com {
	redir https://playlextown.com{uri} permanent
}
